.wrapper {
  height: 590px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  height: 302px;
}

.listWrapper {
  display: flex;
  justify-content: center;
}
