.default {
  display: flex;
  flex-direction: column;
}

.marginTop {
  width: 390px;
  height: 29px;

  background: white;
}
.marginBottom {
  width: 390px;
  height: 29px;

  background: #d9d9d9;
}
