.user {
  display: flex;
  width: 60px;
  height: 60px;
  // background-color: #d9d9d9;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 26px;

  img {
    position: absolute;
  }
}

.username {
  top: 14%;
  position: absolute;
  z-index: 1;
}
