.container {
  padding: 10%;
  padding-bottom: 0;
  //   max-height: 100px;
}

.rankingContainer {
  height: 150px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 4%;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  color: #000000;
  margin-bottom: 1px;
}
