$current-status: 0%;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 60px;
  height: 60px;
  background: linear-gradient(to top, gray $current-status, transparent 50%);
}

.img {
  overflow: hidden;
}

.text {
  margin-top: 9px;
}
