.container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.character {
  display: flex;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #d9d9d9;
  align-items: center;
  justify-content: center;
}
